package $vo.package.name;

#if($vo.imports)
#foreach($import in $vo.imports)
import $import.name;
#end
#end
## declare superClass
#if($vo.superClass)
import $superClass;
#end
## declare interfaces
#if($vo.interfaces)
#foreach($interface in $vo.interfaces)
import $interface;
#end
#end

## define class
public class $vo.className #if($vo.superClass) extends $vo.superClass #end #if($vo.interfaces) implements ##
    #foreach($interface in $vo.interfaces)
        $interface #if( $foreach.hasNext ),#end
    #end
#end {

## define field
#if($vo.fields)
#foreach($field in $vo.fields)
    private $field.type $field.name;
#end
#end

## getter/setter method
#if($vo.fields)
#foreach($field in $vo.fields)
    public void set$field.initialUpper ($field.type $field.name) {
        this.$field.name = $field.name;
    }

    public $field.type get$field.initialUpper () {
        return this.$field.name;
    }
#end
#end
}